.main_title_bg{
    width: 100%;
    height: 550px;
    background-color: var(--background-sub-color); /* 기본 색상 */
    margin-top: 90px;
}

.main-service{
    width: 100%;
    height: 850px;
    padding: 10px;
    /*background-color: var(--background-sub-color); !* 기본 색상 *!*/
    margin-top: 70px;
}

.main-skill{
    width: 100%;
    height: 850px;
    padding: 10px;
    /*background-color: var(--background-sub-color); !* 기본 색상 *!*/
    margin-top: 70px;
}

.main-project{
    width: 100%;
    height: 850px;
    padding: 10px;
    /*background-color: var(--background-sub-color); !* 기본 색상 *!*/
    margin-top: 10px;
}

@media all and (min-width:1024px) and (max-width:1279px) {

}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .main_title_bg{
        height: 600px;
    }
    .main-service{
        height: 1510px;
    }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
    .main_title_bg{
        height: 600px;
    }
    .main-service{
        height: 1510px;
    }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    .main_title_bg{
        height: 600px;
    }
    .main-service{
        height: 1510px;
    }
}